---
title: Our Story
hero: Our story
---

<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>
<ul class="staff">
	{% for person in site.staff_members %}
		<li>
			<div class="staff-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
			<div class="name">{{ person.name }}</div>
		</li>
	{% endfor %}
</ul>

<div class="thirds story-points">
	<div>
		<h3 class="editable">Passion</h3>
		<p class="editable">Something inspirational goes here...</p>
	</div>
	<div>
		<h3 class="editable">Art</h3>
		<p class="editable">More awesome blurbs to come I'm sure...</p>
	</div>
	<div>
		<h3 class="editable">Medicine</h3>
		<p class="editable">Let's have a blurb about this too; why not??</p>
	</div>
</div>
